# Xcode
build/
DerivedData/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/

# SwiftPM
.build/
Packages/
Package.resolved

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/screenshots
fastlane/test_output

# Swift Package Manager
.swiftpm/

# Archives
*.xcarchive

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# IDE specific
.idea/
*.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings

# User-specific settings
*.xcuserstate
*.xcscmblueprint

# Others
*.DS_Store
